@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* 追加 */
  /*background: #ecf1f6;*/
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* 追加 */
label {
  background: #FFF;
}

/** ログイン前 **/
/* Login */
.logo img {
  height: 50%;
}

.w-75 {
  background: #FFF;
}

.text-center {
  border-radius: 10px;
}

/* Register */
.register_form {
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
  background: #FFF;
}

.mt-3 {
  background: #FFF;
}

.border-0 {
  background: #FFF;
}

.text-center {
  background: #FFF;
}

.radio_button {
  display: flex;
  justify-content: space-around;
}

.radio_buttons {
  background: #FFF;
}

.birth_day {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: #FFF;
}

.birth_day_box {
  background: #FFF;
  width: 100%;
}

:where(.old_year, .old_month, .old_day) {
  background: #FFF;
  border: 0;
  width: 70%;
}

.subject {
  background: #FFF;
}

.register_post {
  display: flex;
  justify-content: space-between;
  background: #FFF;
}

.register_post_radio {
  background: #FFF;
}

.text-right {
  margin-top: 15px;
  background: #FFF;
}

/* 【サイドバー】 */
.sidebar {
  width: 200px;
  height: 100vh;
  background: #03AAD2;
  font-weight: bold;
  padding: 20px 10px;
}

.main-container {
  width: 100%;
}

.sidebar p {
  background: #03AAD2;
}

.sidebar p a {
  color: #FFF;
}

/* アイコン */
.bi {
  background: #03AAD2;
  color: fff;
  font-size: 20px;
  margin: 5px;
}

/* トップページ */
.top_area {
  background: #ecf1f6;
}

.user_status {
  margin: 50px auto;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
}

.user_status p {
  background: #FFF;
}

.user_status span {
  background: #FFF;
}

/* スクール予約関連 */
.day {
  background: #FFF;
}

.table_week td:nth-child(6n) {
  color: #0000FF;
}

.table_week td:nth-child(7n) {
  color: #ff0000;
}

.day-mon {
  background: #FFF;
}

.day-tue {
  background: #FFF;
}

.day-wed {
  background: #FFF;
}

.day-thu {
  background: #FFF;
}

.day-fri {
  background: #FFF;
}

.day-sat {
  color: #0000FF;
  background: #FFF;
}

.day-sun {
  color: #FF0000;
  background: #FFF;
}

/*git*/
.calendar-td {
  min-width: 100px;
  background: #fff;
  border: solid 1px #dee2e6;
}

.past-day {
  background: #EEEDEE;
}

.past-day p {
  background: #EEEDEE;
}

.day_part {
  color: #494949;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  background: #fff;
  text-align: right;
}

.day-blank {
  background: #D3D3D3;
}

/* 予約削除モーダル */
/* モーダル背景 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* モーダルコンテンツ */
.modal-content {
  margin: 10vh auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* メッセージ */
#modal-message {
  margin-bottom: 20px;
  background: #fff;
  font-size: 16px;
  color: #333;
}

/* ボタンのスタイル */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
}

#cancel-button {
  width: 105px;
}

/*//////////*/

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.post_modal {
  background: #FFF;
  border: solid 1px #999;
}

/* 【掲示板：左】 */
.post_view {
  background: #ecf1f6;
}

.post_view i {
  background: #fff;
}

.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
  border-radius: 10px;
}

.detail_post {
  background: #FFF;
  border-radius: 10px;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_area p {
  background: #FFF;
}

.post_area span {
  background: #FFF;
}

.post_bottom_area {
  background: #FFF;
}

.post_status {
  background: #FFF;
}

.post_status span {
  background: #FFF;
  font-size: 12px;
}

.post_user {
  color: #999;
  font-weight: 500;
}

.posts {
  color: #000;
  font-weight: 500;
}

.tag {
  background: #03AAD2;
  color: #FFF;
  padding: 3px;
  border-radius: 8px;
}

.post_icon {
  margin-left: auto;
  background: #FFF;
}

.like_icon {
  display: inline-block;
  background: #FFF;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
  color: #999;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
  background: #FFF;
}

.mr-5 {
  display: inline-block;
  background: #FFF;
}

/* 【掲示板：右】 */

.other_area {
  margin-top: 3rem;
  /*!important;*/
}

.other_area a:hover {
  text-decoration: none;
}

.other_medium {
  width: 90%;
}

.post_link {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  background: #03AAD2;
  color: #FFF;
  border-radius: 8px;
}

.other_keyword {
  width: 100%;
  margin-top: 30px;
  background: #03AAD2;
  border-radius: 8px;
}

.other_keyword_text {
  width: 70%;
  height: 35px;
  border: 2px solid #ddd;
  border-radius: 8px 0 0 8px;
}

.other_keyword_submit {
  width: 25%;
  height: 35px;
  background: #03AAD2;
  color: #fff;
  border: 0;
  border-radius: 0 8px 8px;
  cursor: pointer;
}

.other_mylike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 35px;
  margin-top: 30px;
}

.other_like {
  background: #E38EAB;
  color: #fff;
  margin: 1px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.other_my {
  background: #EBBC5D;
  color: #fff;
  margin: 1px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.other_category {
  margin-top: 30px;
}

.category_search {
  margin-top: 10px;
}

/* 【掲示板：詳細】 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
  background: #FFF;
}

.detsail_post_title {
  background: #FFF;
  font-size: 16px;
}

.detsail_post {
  font-size: 14px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #FFF;
}

.detail_user {
  background: #FFF;
  margin-top: 10px;
  font-size: 16px;
}

.detail_user span {
  background: #FFF;
}

.detail_comment {
  background: #FFF;
  border-radius: 10px;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container p {
  background: #FFF;
}

.comment_area {
  background: #FFF;
  color: #999;
  border-radius: 10px;
}

.comment_area span {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
  background: #FFF;
  border: solid 1px #999;
}

.comment_container span {
  font-size: 12px;
}

.comment_input {
  background: #FFF;
  text-align: right;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;

  /* 基準 */
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0 10px 0;
  border-bottom: 2px solid #999;
}

.main_categories {
  width: 100%;
}

.main_categories span:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: #000 2px solid;
  border-right: #000 2px solid;
  /*-webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);*/
  /* 矢印の向きを調整 */
  transform: rotate(135deg);
  /* 回転と中央揃えを同時に実現 */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(135deg);
  /* アニメーションで滑らかに回転 */
  transition: transform 0.3s;
  bottom: 15%;
  margin: auto;
}

.main_categories.open span:after {
  /* 開いているときは上向き */
  transform: translateY(-50%) rotate(-45deg);
}

.category_btn {
  width: 90%;
  margin: 10px 0px 10px 15px;
  background: #ecf1f6;
  text-align: left;
  font-size: 14px;
  padding: 0 5px;
  border: none;
  border-bottom: 1px solid #999;
  cursor: pointer;
  /* フォーカス時の黒い枠を削除 */
  outline: none;
}

.category_btn:focus {
  /* キーボード操作などでフォーカスが当たったときも黒い枠を削除 */
  outline: none;
}

/* 【掲示板：投稿】 */
.add_category {
  background: #fff;
}

.add_border {
  background: #fff;
  border: 1px solid #999;
  margin-bottom: 10px;
}

.mb-0 {
  background: #fff;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 100vh;
  overflow: scroll;
  padding: 10px;
  background: #ecf1f6;
  border-radius: 5px;

  min-height: auto;
  /* 高さを自動調整 */
  height: auto;
  /* コンテンツに応じた高さ */
  max-height: 100vh;
  /* 最大の高さを制限 */
}

.reserve_users_area span {
  font-size: 12px;
}

/* コンテンツが少ない場合のマージンをなくす */
.reserve_users_area:has(.reserve_user):only-child {
  margin-top: 0;
  margin-bottom: 0;
}

.one_person {
  width: 180px;
  height: 180px;
  background: #FFF;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}

.search_item {
  background: #FFF;
  color: #999;
  font-weight: 500;
}

.search_items {
  background: #FFF;
  font-weight: 500;
}

.search_user {
  background: #FFF;
  color: #03AAD2;
  font-weight: 500;
}

.one_person a:hover {
  text-decoration: none;
}

/* 【ユーザー検索：右】 */
.free_word {
  height: 40px;
  padding-left: 10px;
  background: #E0E5E9;
  border: none;
  border-radius: 8px;
}

.search_choose {
  margin-top: 10px;
}

.search_lavel {
  display: block;
  background: #ecf1f6;
  color: #191970;
  font-size: 0.9rem;
}

.select_word {
  height: 30px;
  width: 80px;
  padding-left: 10px;
  background: #E0E5E9;
  border: none;
  border-radius: 8px;
}

.search_conditions {
  width: 100%;
}

.search_conditions span {
  display: block;
  position: relative;
  width: 190px;
  margin: 20px 10px 10px 10px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #191970;
  font-size: 0.9rem;
  border-bottom: 2px solid #999;
}

.search_conditions span:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: #000 2px solid;
  border-right: #000 2px solid;
  /* 矢印の向きを調整 */
  transform: rotate(135deg);
  /* 回転と中央揃えを同時に実現 */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(135deg);
  /* アニメーションで滑らかに回転 */
  transition: transform 0.3s;
  bottom: 50%;
  margin: auto;
}

.search_conditions.open span:after {
  /* 開いているときは上向き */
  transform: translateY(-50%) rotate(-45deg);
}

.search_conditions_inner {
  display: none;
  margin: 10px;
  background: #FFF;
}

.conditions_inner {
  padding-bottom: 15px;
  background: #ecf1f6;
}

.engineer {
  height: 30px;
  width: 100px;
  padding-left: 10px;
  background: #E0E5E9;
  border: none;
  border-radius: 8px;
}

.search_btn {
  display: block;
  width: 190px;
  margin: 30px 10px;
  padding: 5px;
  text-align: center;
  background: #03AAD2;
  color: #FFF;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search_reset {
  width: 190px;
  margin-left: 10px;
  text-align: center;
  background: #ecf1f6;
  color: #03AAD2;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}

/* 【プロフィール】 */
.subject_edit_btn {
  font-size: 12px;
  color: #03AAD2;
  cursor: pointer;

  display: block;
  position: relative;
  width: 110px;
  margin: 20px 10px 10px 10px;
  padding-bottom: 5px;
}

.subject_edit_btn:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: #03AAD2 2px solid;
  border-right: #03AAD2 2px solid;
  /* 矢印の向きを調整 */
  transform: rotate(135deg);
  /* 回転と中央揃えを同時に実現 */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(135deg);
  /* アニメーションで滑らかに回転 */
  transition: transform 0.3s;
  bottom: 50%;
  margin: auto;
}

.subject_edit_btn.open:after {
  /* 開いているときは上向き */
  transform: translateY(-50%) rotate(-45deg);
}

.subject_inner {
  display: none;
}

.subject_item {
  display: inline;
  background: #fff;
}

/* 【カレンダー】 */
.calendar_style {
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
}

.calendar_week {
  background: #fff;
  border: solid 1px #dee2e6;
}

.calendar_sat {
  background: #fff;
  border: solid 1px #dee2e6;
  color: #0000FF;
}

.calendar_sun {
  background: #fff;
  border: solid 1px #dee2e6;
  color: #ff0000;
}

/* 【予約確認】 */

.calendar_reservation {
  margin: 10vh auto;
  border: solid 50px #fff;
  border-top-width: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
}

.reservation {
  margin: 10px 0;
  background: #fff;
}

.reservation_title {
  background: #fff;
  text-align: center;
}

.reservation_table {
  margin: auto;
}

.calendar_part {
  background: #fff;
  border: none !important;
}

.calendar_parts {
  background: #fff;
  border: none !important;
}

/*.past_table {
  opacity: 0.5;
}*/

.past_table tr td {
  background: #EEEDEE;
}

/* 【予約枠】 */
.frame_table {
  width: 70%;
  margin: 10vh auto;
  background: #fff;
  border: solid 50px #fff;
  border-top-width: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
}

.frame_title {
  margin: 0;
  padding-bottom: 10px;
  background: #fff;
  text-align: center;
}

.frame_whopper {
  text-align: center;
}

.frame_whopper td:nth-child(6n) {
  color: #0000FF;
}

.frame_whopper td:nth-child(7n) {
  color: #ff0000;
}

.frame_future {
  background: #fff;
}

.frame_future input {
  background: #fff;
}

/* 【予約詳細】 */
.detail_whopper {
  border: solid 10px #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
}

.detail_table {
  width: 100%;
  text-align: center;
  /* 余計なスペースをなくす */
  border-collapse: collapse;
}

.detail_table th {
  background: #03AAD2;
  color: #fff;
}

.detail_table td {
  padding: 10px;
}

.detail_tbody tr:nth-child(odd) {
  background: #fff;
}

.detail_tbody tr:nth-child(even) {
  background: #E5F6FA;
}

.detail_id {
  width: 10%;
}

/*水#03AAD2(薄)#E5F6FA/灰(濃)#999(中)#D3D3D3(薄)#E0E5E9(薄ライン)#dee2e6(薄背景)#ecf1f6/紺#191970/桃#E38EAB/黄#EBBC5D*/
